
#tabla-id {
    position: relative;
    /*margin-left: 600px;*/
    width: 800px;
    height: 800px;
    background-color: tomato;
}

.polje {
    position: absolute;
    border-radius: 50%;
    width:  55px;
    height: 55px;
}

.polje.polje-x {
    background-color: #111;
}

.polje.polje-o {
    background-color: #eee;
}

.polje.polje-- {
    background-color: rgba(0, 0, 0, .1);
}

.polje.selektiran {
    box-shadow: 0px 0px 0px 5px gold inset;
}

.polje:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px rgba(255,255,0, .2);
}

.polje > .koordinate {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    font-size: .66em;
    font-family: Roboto;
    font-weight: bold;
    color: tomato;
}



#smer-picker {
    position: absolute;
    background-color: red;
    width: 5px;
    height: 5px;
    display: block;
    bottom: 150px;
    right: 150px;
}

#smer1, #smer2, #smer3, #smer4, #smer5, #smer6 {
    position: absolute;
    background-color: tomato;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-family: Roboto;
    font-weight: bold;
    color: rgba(255, 255, 255, .85);
    display: block;
    border: solid 1px white;
    text-align: center;
}

#smer1 {
    top: 0px;
    left: -100px;
}

#smer2 {
    top:  -100px;
    left: -70px;
}

#smer3 {
    top:  -100px;
    left:  70px;
}

#smer4 {
    top:    0px;
    left: 100px;
}

#smer5 {
    top:  100px;
    left: 70px;
}

#smer6 {
    top:   100px;
    left: -70px;
}

#izgurani {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 400px;
  width: 130px;
  justify-content: space-between;
}

#izgurani > * {
  width: 50%;
  display: flex;
  flex-flow: column;
}

#izgurani .polje {
  margin-bottom: 10px;
  position: static;
}
