body {
  background-color: rgba(224,242,241 ,1);
}

h1 {
  font-family: 'Satisfy', cursive;
  position: fixed;
  top: 55px;
  left: 50px;
  margin: 0;
  padding: 0;
  font-size: 7em;
  transform: rotate(-17deg);
  color: rgba(0,121,107 ,1);
  text-shadow: 7px 7px 0 rgba(178,223,219 ,1);
}

#tabla-id {
    position: relative;
    background-color: rgba(128,203,196 ,1);
    border-radius: 50%;
    margin: auto;
    margin-top: 40px;
}

.polje {
    position: absolute;
    border-radius: 50%;
    width:  65px;
    height: 65px;
}

.polje.polje-x {
    background-color: rgba(0, 0, 0, .85);
}

.polje.polje-o {
    background-color: rgba(255, 255, 255, .85);
}

.polje.polje-- {
    background-color: rgba(0, 0, 0, .12);
}

.polje:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 0, .2);
}

.polje.selektiran {
    box-shadow: 0px 0px 0px 8px gold inset;
}

.polje > .koordinate {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    font-size: .66em;
    font-family: Roboto;
    font-weight: bold;
    color: rgba(0, 77, 64, 1);
}

.polje.polje-x > .koordinate {
    color: rgba(128,203,196 ,1);
}

#smer-picker {
    position: absolute;
    background-color: red;
    width: 5px;
    height: 5px;
    display: block;
    bottom: 150px;
    right: 150px;
}

#smer1, #smer2, #smer3, #smer4, #smer5, #smer6 {
    position: absolute;
    background-color: tomato;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-family: Roboto;
    font-weight: bold;
    color: rgba(255, 255, 255, .85);
    display: block;
    border: solid 1px white;
    text-align: center;
}

#smer1 { top:    0px; left:  100px; }
#smer2 { top: -100px; left:   70px; }
#smer3 { top: -100px; left:  -70px; }
#smer4 { top:    0px; left: -100px; }
#smer5 { top:  100px; left:  -70px; }
#smer6 { top:  100px; left:   70px; }

#izgurani {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 400px;
  width: 130px;
  justify-content: space-between;
}

#izgurani > * {
  width: 50%;
  display: flex;
  flex-flow: column;
}

#izgurani .polje {
  margin-bottom: 10px;
  position: static;
}
