@charset 'utf-8';
@import 'ljubenovic-toolkit';
@import 'palette';
/**/
$color: $teal;
$background: $blue-grey;
/**/
$color-hover: rgba(palette($yellow, 500), 1);
$color-main: palette($color);
$color-main-dark: palette($color, 700);
$color-main-light: palette($color, 200);
$background-color: palette($background, 50);
$table-color: palette($background, 200);
$color-white-marble: palette($blue-grey, 50);
$color-black-marble: palette($blue-grey, 900);
$color-no-marble: palette($blue-grey, 100);
/**/
$color-select-disallowed: rgba(palette($red, 300), .7);
$color-select-allowed: rgba(palette($green, 300), .7);
/**/
$marble-size: 65px;

* {
    -webkit-touch-callout: none;
    -webkit-user-select  : none;
    -khtml-user-select   : none;
    -moz-user-select     : none;
    -ms-user-select      : none;
    user-select          : none;
    margin               : 0;
    padding              : 0;
    font-family          : Roboto;
}

body {
    background-color: $background-color;
    display         : flex;
    flex-direction  : column;
    justify-content : flex-start;
    align-content   : center;
    width           : 1280px;
    margin          : 40px auto auto;
}

h1 {
    font-family: 'Satisfy', cursive;
    position   : fixed;
    top        : 55px;
    left       : 50px;
    margin     : 0;
    padding    : 0;
    font-size  : 7em;
    transform  : rotate(-17deg);
    color      : $color-main-dark;
    text-shadow: 5px 5px 0 $color-main-light;
}

#config-button {
    position   : absolute;
    bottom     : 10px;
    left       : 10px;
    $s         : 60px;
    width      : $s;
    height     : $s;
    color      : rgba(white, 1);
    text-shadow: 0 1px 2px rgba(black, .15);
    transition : all 1s;
    cursor     : pointer;

    & > i {
        display    : block;
        width      : $s;
        height     : $s;
        line-height: $s;
        font-size  : 0.66 * $s;
        text-align : center;
    }

    &:hover {
        animation-name           : vrti-se;
        animation-duration       : 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        text-shadow              : 0 0 2px rgba(black, .2);
        @keyframes vrti-se {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}

#config {
    width           : 100%;
    background-color: rgba(white, .3);
    box-shadow      : 0 0 0 3px rgba(white, .6);
    overflow        : hidden;
    transition      : height 0.33s, opacity 0.33s;
    height          : 150px;
    border-radius   : 15px;
    opacity         : 1;
    margin          : 30px 10px 10px;
    padding         : 10px;
    box-sizing      : border-box;
    color           : rgba(black, .7);

    &.hidden {
        height : 0;
        opacity: 0;
    }

    & > span {
        width  : 90px;
        display: inline-block;
    }

    input[name="radio-koordinate"] {
        margin-left: 20px;
    }

    input#igrac-1-ai {
        &:not(:checked) ~ .h-parametri:first-of-type {
            opacity: 0.1;
        }
    }

    input#igrac-2-ai {
        &:not(:checked) ~ .h-parametri {
            opacity: 0.1;
        }
    }

    .h-parametri {
        margin-left: 40px;
        width      : 300px;
        display    : inline-block;

        input {
            width           : 100%;
            background-color: transparent;
            outline         : none;
            border          : none;
            box-shadow      : 0 2px rgba($color-main-dark, .2);
            transition      : box-shadow 0.2s;
            color           : rgba(black, .7);
            font-size       : 16px;

            &:active,
            &:focus {
                box-shadow: 0 3.5px rgba($color-main-dark, .6);
            }

            &.unsaved {
                color: palette($red);
            }
        }
    }
}
$input-button-size: 22px;
$ratio: 0.6;

input:not([type="text"]) {
    display: none;

    &+label {
        padding    : 3px 6px;
        margin-left: $input-button-size;
        height     : $input-button-size;
        line-height: $input-button-size;
        display    : inline-block;
        position   : relative;
        transition : opacity 0.33s; // zbog disablovanja

        &::before {
            content    : "";
            display    : block;
            position   : absolute;
            left       : -$input-button-size;
            width      : $ratio * $input-button-size;
            height     : $ratio * $input-button-size;
            margin-left: (1 - $ratio) / 2 * $input-button-size;
            margin-top : (1 - $ratio) / 2 * $input-button-size;
            transition : all 0.33s;
        }
    }

    &:checked+label::before {}
}

input[type="checkbox"] {
    &+label::before {
        box-shadow: 0 0 0 2px rgba(black, .2) inset;
    }

    &:checked+label::before {
        transform : rotate(-45deg);
        height    : $ratio * $input-button-size * 0.5;
        margin-top: (1 - $ratio) / 2 * $input-button-size + 2px;
        box-shadow: 3px -3px 0 0 rgba($color-main, 1) inset;
    }
}

input[type="radio"] {
    &+label {
        font-style: italic;
    }

    &+label::before {
        border-radius: 50%;
        box-shadow   : 0 0 0 2px rgba(black, .2) inset;
    }

    &:checked+label::before {
        box-shadow: 0 0 0 1px+$ratio*$input-button-size/2 rgba($color-main, 1) inset;
    }
}

input:disabled {
    opacity: 0.5;

    &+label {
        opacity: 0.5;
    }
}

.tabla-wrapper {
    width          : 100%;
    //border         : black 2px solid;
    display        : flex;
    justify-content: space-between;
    align-items    : stretch;
    position       : relative;
}

#tabla-id {
    position        : relative;
    background-color: $table-color;
    border-radius   : 50%;

    &.axial-visible .koordinate.cubic {
        display: none;
    }

    &:not(.axial-visible) .koordinate.axial {
        display: none;
    }

    &.sakrij-koordinate .koordinate {
        display: none;
    }

    .polje:hover {
        transform: scale(1.1);
    }
}

#stats {
    width          : 500px;
    min-height     : 500px;
    display        : flex;
    flex-flow      : column;
    justify-content: space-around;
    align-items    : center;

    #selektirani {
        min-height     : 100px;
        width          : 100%;
        display        : flex;
        flex-flow      : column-reverse;
        justify-content: flex-start;
        align-items    : center;

        li {
            display: block;
        }
    }

    #na-redu {
        display: flex;
        width  : 100%;

        & > * {
            @include force-width(50%);
            display      : flex;
            flex-flow    : column;
            align-content: center;

            input {
                width           : 85%;
                margin          : auto;
                background-color: transparent;
                border          : none;
                outline         : none;
                text-align      : center;
                font-family     : Roboto;
                font-weight     : bold;
                box-shadow      : 0 2px 0 0 rgba(black, .2);
                font-size       : 24px;
            }

            span {
                @include z-depth(1);
                display         : block;
                width           : 50px;
                height          : 50px;
                margin          : 40px auto auto;
                background-color: gold;
                text-align      : center;
                font-size       : 0.5 * 50px;
                line-height     : 50px;
                border-radius   : 50%;
                font-weight     : bold;
                position        : relative;
            }

            &.trenutni-na-redu span {
                transform: scale(1.1);

                &::after {
                    content           : "";
                    width             : 0;
                    height            : 0;
                    background-color  : transparent;
                    position          : absolute;
                    $top              : 50px + 10px - 15px;
                    top               : $top;
                    left              : (50px - 30px)/2;
                    border            : 15px solid $color-main;
                    border-top-color  : transparent;
                    border-left-color : transparent;
                    border-right-color: transparent;
                    transform         : scaleY(1.4);
                    animation         : masu-nervira 1s ease infinite;
                    @keyframes masu-nervira {
                        0% {
                            top: $top;
                        }

                        66% {
                            top: $top + 10px;
                        }

                        100% {
                            top: $top;
                        }
                    }
                }
            }
        }

        #stats-x span {
            background-color: rgba(black, .9);
            color           : rgba(white, .7);
        }

        #stats-o span {
            background-color: rgba(white, .9);
            color           : rgba(black, .7);
        }
    }
}

.polje {
    position     : absolute;
    border-radius: 50%;
    width        : $marble-size;
    height       : $marble-size;
    cursor       : pointer;
    transition   : all 0.2s ease;

    .koordinate {
        position   : absolute;
        width      : $marble-size;
        height     : $marble-size;
        line-height: $marble-size;
        text-align : center;
        font-size  : 0.66em;
        font-family: Roboto;
        font-weight: bold;
        color      : rgba(black, .35);

        &.axial::first-letter {
            display     : inline-block;
            margin-right: 1px;
        }
    }

    &.polje-x {
        background-color: $color-black-marble;

        .koordinate {
            color: rgba(white, .5);
        }
    }

    &.polje-o {
        background-color: $color-white-marble;
    }

    &.polje-o,
    &.polje-x {
        @include z-depth(1);
    }

    &.polje-- {
        background-color: $color-no-marble;
        opacity         : 0.5;
    }

    &.selektiran::before {
        content      : "";
        width        : $marble-size;
        height       : $marble-size;
        position     : absolute;
        top          : 0;
        left         : 0;
        border-radius: 50%;
    }
    $big-circle  : 12px;
    $small-circle: 6px;

    &.selektiran-lose {
        &.polje-x::before {
            box-shadow: 0 0 0 $small-circle $color-black-marble inset, 0 0 0 $big-circle $color-select-disallowed inset;
        }

        &.polje-o::before {
            box-shadow: 0 0 0 $small-circle $color-white-marble inset, 0 0 0 $big-circle $color-select-disallowed inset;
        }

        &.polje--::before {
            box-shadow: 0 0 0 $small-circle $color-no-marble inset, 0 0 0 $big-circle $color-select-disallowed inset;
        }
    }

    &.selektiran-dobro {
        &.polje-x::before {
            box-shadow: 0 0 0 $small-circle $color-black-marble inset, 0 0 0 $big-circle $color-select-allowed inset;
        }

        &.polje-o::before {
            box-shadow: 0 0 0 $small-circle $color-white-marble inset, 0 0 0 $big-circle $color-select-allowed inset;
        }

        &.polje--::before {
            box-shadow: 0 0 0 $small-circle $color-no-marble inset, 0 0 0 $big-circle $color-select-allowed inset;
        }
    }
}
$smer-picker-size: 110px;
$smer-picker-li-size: 45px;

#smer-picker-wrapper {
    width          : 2 * $smer-picker-size + $smer-picker-li-size;
    height         : 2 * $smer-picker-size + $smer-picker-li-size;
    padding        : 10px;
    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

#smer-picker {
    width   : 0;
    height  : 0;
    display : block;
    position: relative;

    li {
        position        : absolute;
        background-color: $color-main;
        color           : white;
        width           : $smer-picker-li-size;
        height          : $smer-picker-li-size;
        line-height     : $smer-picker-li-size;
        font-family     : Roboto;
        font-weight     : bold;
        color           : rgba(white, .85);
        display         : block;
        border          : solid 1px white;
        text-align      : center;
        border-radius   : 50%;
        cursor          : pointer;

        &:hover {
            background-color: lighten($color-main, 10);
        }
    }
}

#smer1 {
    top : 0;
    left: 100px;
    @include fingertip(7, 0, 0, $smer-picker-size, 0deg, $smer-picker-li-size, $smer-picker-li-size);
}

#smer2 {
    top : -100px;
    left: 70px;
    @include fingertip(7, 0, 0, $smer-picker-size, -60deg, $smer-picker-li-size, $smer-picker-li-size);
}

#smer3 {
    top : -100px;
    left: -70px;
    @include fingertip(7, 0, 0, $smer-picker-size, -120deg, $smer-picker-li-size, $smer-picker-li-size);
}

#smer4 {
    top : 0;
    left: -100px;
    @include fingertip(7, 0, 0, $smer-picker-size, 180deg, $smer-picker-li-size, $smer-picker-li-size);
}

#smer5 {
    top : 100px;
    left: -70px;
    @include fingertip(7, 0, 0, $smer-picker-size, 120deg, $smer-picker-li-size, $smer-picker-li-size);
}

#smer6 {
    top : 100px;
    left: 70px;
    @include fingertip(7, 0, 0, $smer-picker-size, 60deg, $smer-picker-li-size, $smer-picker-li-size);
}

#izgurani {
    display        : flex;
    justify-content: space-between;
    width          : 100%;
    @include force-height(50px);

    & > * {
        width    : 50%;
        display  : flex;
        flex-flow: row;
        flex-wrap: wrap;
    }

    #izgurani-o {
        justify-content: flex-end;
    }

    .polje {
        $s      : 40px;
        width   : $s;
        height  : $s;
        margin  : 3px;
        position: static;
        cursor  : default;
    }
}